/* ============== Primary Colors ======================== */

$primary: #1F66A8;
$primary_blue: #2046CF;
$secondary: #F5FAFF;
$secondary_blue: #E6F3FF;
$black: #182127;
$light_grey: #BDBFC1;
$primary_red: #EC4F4F;
$white: #ffffff;



