// Padding classes
.p-4 {
  padding: 4px 4px;
}
.p-8 {
  padding: 8px 8px;
}
.p-12 {
  padding: 12px 12px;
}
.p-16 {
  padding: 16px 16px;
}
.p-20 {
  padding: 20px 20px;
}
.p-24 {
  padding: 24px 24px;
}
.p-28 {
  padding: 28px 28px;
}
.p-32 {
  padding: 32px 32px;
}
.p-36 {
  padding: 36px 36px;
}
.p-40 {
  padding: 40px 40px;
}

.py-4 {
  padding: 4px 4px;
}
.py-8 {
  padding: 8px 8px;
}
.py-12 {
  padding: 12px 12px;
}
.py-16 {
  padding: 16px 16px;
}
.py-20 {
  padding: 20px 20px;
}
.py-24 {
  padding: 24px 24px;
}
.py-28 {
  padding: 28px 28px;
}
.py-32 {
  padding: 32px 32px;
}
.py-36 {
  padding: 36px 36px;
}
.py-40 {
  padding: 40px 40px;
}

.margin-h-60 {
  margin: 0px 60px 0px 60px;
}

// Border Radius classes
.border-4 {
  border-radius: 4px;
}
.border-8 {
  border-radius: 8px;
}
.border-6 {
  border-radius: 6px;
}
.border-12 {
  border-radius: 12px;
}
.border-16 {
  border-radius: 16px;
}
.border-20 {
  border-radius: 20px;
}
// shadow classed
.shadow-dark-bg {
  opacity: 15%;
  box-shadow: 0px 1px 4px 0px #383f43;
}
.shadow-light-bg {
  opacity: 8%;
  box-shadow: 0px 20px 24px -4px #383f43;
}
.shadow-table {
  box-shadow: 0px 20px 24px -4px rgb(56 63 67 / 8%);
}
.cursor-pointer {
  cursor: pointer;
}
// flex classes
.d-flex {
  display: flex;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-cente {
  align-self: center;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-stretch {
  align-self: stretch;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.bg-red {
  background-color: red;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
